body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* Fondo blanco */
  color: #333333; /* Color de texto gris oscuro */
}

header {
  background: #ec6c28; /* Naranja vibrante */
  color: #ffffff; /* Texto blanco */
  padding: 20px 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav {
  margin: 20px 0;
  text-align: center;
}

nav a {
  color: #ffffff; /* Texto blanco */
  background: #333333; /* Fondo negro */
  margin: 0 10px;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background: #ec6c28; /* Naranja vibrante al pasar el mouse */
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 20px;
  background: #ffffff; /* Fondo blanco */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra m치s intensa */
  border: 1px solid #ec6c28; /* Borde naranja */
}

footer {
  text-align: center;
  padding: 15px 0;
  background: #333333; /* Fondo negro */
  color: #ffffff; /* Texto blanco */
  font-size: 14px;
  position: relative;
  bottom: 0;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: #ec6c28; /* Fondo naranja */
  color: #ffffff; /* Texto blanco */
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid #333333; /* Borde negro */
}

td {
  padding: 10px;
  text-align: left;
  border: 1px solid #cccccc; /* Borde gris claro */
}

tr:nth-child(even) {
  background-color: #f9f9f9; /* Gris claro */
}

tr:nth-child(odd) {
  background-color: #ffffff; /* Blanco */
}

tr:hover {
  background-color: #FFEDD5; /* Naranja muy claro al pasar el mouse */
}

button {
  background: #ec6c28; /* Fondo naranja */
  color: #ffffff; /* Texto blanco */
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background: #C13B1A; /* Naranja m치s oscuro */
}

.img-responsive {
  max-height: 1px; /* Altura m치xima permitida */
  max-width: 1px;  /* Ancho m치ximo permitido */
  object-fit: contain; /* Ajusta la imagen sin deformarla */
}
